---
---

@import "minima";

.page-content {
  max-width: 750px;
  margin: auto;
  padding: 2rem;
}

img {
  display: block;
  margin: auto;
}

h1, h2, h3 {
  text-align: center;
  margin-top: 20px;
}

body {
  font-family: "Georgia", serif;
  line-height: 1.65;
}
